html {
	margin: 0;
	width: 100%;
	height: 100%;
}

body {
	font-family: Open Sans;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

@font-face {
	font-family: 'Open Sans';
	src: url('Open Sans.ttf');
}

/* main section style */

.container {
	width: 1140px;
	height: 100%;
	margin: 0 auto;
}

/*Blog section style*/

.blogs {
	background-color: #0EB4C1;
}

.blog {
	margin-top: 60px;
	width: 100%;
	height: 893px;
	background-color: #E9F2FA;
	box-sizing: border-box;
	display: inline-block;
	position: relative;
	background-color: #0EB4C1;
}

.blog1 {
	width: 32%;
	height: 380px;
	box-sizing: border-box;
	display: inline-block;
	background-color: #ffffff;
	margin-right: 2%;
	padding: 0;
}

.blog1-1 {
	width: 31%;
	height: 380px;
	box-sizing: border-box;
	display: inline-block;
	background-color: #ffffff;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 25px;
	padding: 0;
	text-align: center;
}

.blog1:hover {
	border: 1px solid #ff0000;
}

.blog1-1:hover {
	border: 1px solid #ff0000;
}

.blog1:hover p {
	color: #ff0000;
}

.blog1-1:hover p {
	color: #ff0000;
}

.blog-image {
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
	height: 83%;
}
.image1 {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	display: inline-block;
}

.blog-name{
	box-sizing: border-box;
	display: inline-block;
	position: relative;
	width: 100%;
	height: 17%;
	vertical-align: middle;
	font-size: 20px;
	text-align: center;
}

.blog-name p {
	box-sizing: border-box;
	display: inline-block;
	padding: 15px 0 0 15px;
	font-style: italic;
	vertical-align: middle;
	margin: 0 0 10px 0;
}

